<div class="foot">
  <div class="foot-container">
    <div class="foot-box">
      <h6>LIÊN KẾT</h6>
      <ul>
        <li>
          <a
            href="https://vi.wikipedia.org/wiki/Trung_Qu%E1%BB%91c"
            target="_blank"
            ><ion-icon name="flag-outline" class="icon"></ion-icon> Trung
            Quốc</a
          >
        </li>
        <li>
          <a href="https://vi.wikipedia.org/wiki/Hoa_K%E1%BB%B3" target="_blank"
            ><ion-icon name="flag-outline" class="icon"></ion-icon> Hoa Kỳ</a
          >
        </li>
        <li>
          <a href="https://vi.wikipedia.org/wiki/Nga" target="_blank"
            ><ion-icon name="flag-outline" class="icon"></ion-icon> Liên Bang
            Nga</a
          >
        </li>
        <li>
          <a href="https://vi.wikipedia.org/wiki/Ph%C3%A1p" target="_blank"
            ><ion-icon name="flag-outline" class="icon"></ion-icon> Pháp</a
          >
        </li>
      </ul>
    </div>
    <div class="foot-box">
      <h6>HỢP TÁC CÙNG</h6>
      <ul>
        <li>
          <a href="https://www.disney.com/" target="_blank"
            ><ion-icon name="location-outline" class="icon"></ion-icon> Walt
            Disney</a
          >
        </li>
        <li>
          <a href="https://www.warnerbros.com/" target="_blank"
            ><ion-icon name="location-outline" class="icon"></ion-icon> Warner
            Bros</a
          >
        </li>
        <li>
          <a href="https://www.universalpictures.com/" target="_blank"
            ><ion-icon name="location-outline" class="icon"></ion-icon>
            Universal</a
          >
        </li>
      </ul>
    </div>
    <div class="foot-box">
      <h6>MẠNG XÃ HỘI</h6>
      <ul>
        <li>
          <a href="https://www.facebook.com/" target="_blank"
            ><ion-icon name="logo-facebook" class="icon"></ion-icon> Facebook</a
          >
        </li>
        <li>
          <a href="https://www.instagram.com/" target="_blank"
            ><ion-icon name="logo-instagram" class="icon"></ion-icon>
            Instagram</a
          >
        </li>
        <li>
          <a href="https://twitter.com/" target="_blank"
            ><ion-icon name="logo-twitter" class="icon"></ion-icon> Twitter</a
          >
        </li>
        <li>
          <a href="https://www.youtube.com/" target="_blank"
            ><ion-icon name="logo-youtube" class="icon"></ion-icon> Youtube</a
          >
        </li>
      </ul>
    </div>
    <div class="foot-box">
      <h6>THEO DÕI CHÚNG TÔI!</h6>
      <div id="qr">
        <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">
          <img src="/Frontend/media/assets/img/logos/filmlogo.png" alt="" />
        </a>
      </div>
    </div>
  </div>

  <div class="address">
    <p>Trụ sở: 140 Lê Trọng Tấn, Tây Thạnh, Tân Phú, Tp.HCM</p>
    <p>SDT: 09868910JQK</p>
    <p><span>&copy</span> Bản quyền bởi Nhóm CNTT36</p>
  </div>
</div>
<!-- end footer -->

<!-- icon cho footer -->
<script
  type="module"
  src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
></script>
