<header>
  <!-- Navbar -->
  <nav>
    <div class="nav-logo">
      <img src="/Frontend/media/assets/img/logos/filmlogo.png" alt="" />
    </div>

    <div class="row nav-content">
      <!-- Menu list -->
      <div class="col-3">
        <!-- row -->
        <div class="row menu-list" style="width: 100%">
          <div class="col-4 menu-list-item">
            <a href="/TTTN_Course/Frontend/pages/course_page.html"
              ><i class="fas fa-home"></i> Home</a
            >
          </div>

          <div class="col-4 menu-list-item"></div>

          <div class="col-4 menu-list-item"></div>
        </div>
        <!-- endrow -->
      </div>

      <!-- None -->
      <div class="col-7"></div>

      <!-- Account -->
      <div class="col-2">
        <div class="menu-list-item">
          <div class="dropdown2">
            <a href="#" class="dropbtn" id="userInfoLink">
              <i class="fas fa-user"></i>
              Tài khoản
              <div
                class="dropdown2-content"
                id="dropdown2-content-genres"
              ></div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
<script src="/TTTN_Course/Frontend/media/assets/js/home_page.js"></script>
